<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>To-Do List</title>

    <link rel="stylesheet" href="style.css">
  </head>
<body>

  <form class="" action="/todo/" method="post>get"
    <label for"addTask">Add a new item...</label>
    <input type="text" name="addTask" value="">
    <button type="submit" name="button">Add</button>
  </form>



      <h1>My To Do List</h1>

      <div class="">
        <ul>
          {{#displayList}}
          <input type="checkbox" class="task" name="" value=""/>{{.}}<br />
          {{/displayList}}
        </ul>
      </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
